catalogue/open-moon-catalogue.xsd

<?xml version="1.0" encoding="UFT-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!--Start with the root tag 'catalogue'-->
	<xsd:element name="catalogue" type="catalogue" />
	<!--Declare the 'catalogue' tag-->
	<xsd:complexType name="catalogue">
		<xsd:sequence>
			<xsd:element name="systems" type="systems" />
			<xsd:element name="moons" type="moons" />
			<xsd:element name="comments" type="comments" />
			<xsd:element name="references" type="references" />
		</xsd:sequence>
		<xsd:attribute ref="xml:id" />
		<xsd:attribute ref="xml:lang" />
		<xsd:attributeGroup ref="optionalAttributes" />
	</xsd:complexType>
	<!--Declare the 'systems' tag-->
	<xsd:complexType name="systems">
		<xsd:element name="centralObject" type="centralObject" minOccurs="1" maxOccurs="unboundeded" />
		<xsd:attribute ref="xml:id" />
		<xsd:attributeGroup ref="optionalAttributes" />
	</xsd:complexType>
	<!--Declare the 'moons' tag-->
	<xsd:complexType name="moons">
		<xsd:element name="moon" type="moon" minOccurs="1" maxOccurs="unbounded" />
		<xsd:attribute ref="xml:id" />
		<xsd:attributeGroup ref="optionalAttributes" />
	</xsd:complexType>
	<!--Declare the 'comments' tag-->
	<xsd:complexType name="comments">
		<xsd:element name="comment" type="comment" minOccurs="0" maxOccurs="unbounded" />
		<xsd:attribute ref="xml:id" />
		<xsd:attributeGroup ref="optionalAttributes" />
	</xsd:complexType>
	<!--Declare the 'references' tag-->
	<xsd:complexType name="references">
		<xsd:element name="reference" type="reference" minOccurs="0" maxOccurs="unbounded" />
		<xsd:attribute ref="xml:id" />
		<xsd:attributeGroup ref="optionalAttributes" />
	</xsd:complexType>
	<!--Declare the 'centralObject' tag-->
	<xsd:complexType name="centralObject">
		<xsd:sequence>
			<xsd:attribute ref="xml:id" use="required" />
			<xsd:attribute name="name" type="stringLine" use="required" />
			<xsd:attribute name="type" type="centralObjectType" />
			<xsd:attribute name="moons" type="xsd:IDREFS" />
			<xsd:attributeGroup ref="optionalAttributes" />
		</xsd:sequence>
	</xsd:complexType>
	<!--Declare the 'moon' tag-->
	<xsd:complexType name="moon">
		<xsd:sequence>
			<xsd:attribute ref="xml:id" use="required" />
			<xsd:attribute name="provisionalName" type="stringLine" use="required" />
			<xsd:attribute name="name" type="stringLine" />
			<xsd:attribute name="centralObject" type="xsd:IDREF" use="required" />
			<xsd:attribute name="semimajorAxis" type="positiveDecimal" />
			<xsd:attribute name="semimajorAxisError" type="positiveDecimal" />
			<xsd:attribute name="periapsis" type="positiveDecimal" />
			<xsd:attribute name="apoapsis" type="positiveDecimal" />
			<xsd:attribute name="semimajorAxisUnit" type="distanceType" />
			<xsd:attribute name="eccentricity" type="positiveDecimal" />
			<xsd:attribute name="eccentricityError" type="positiveDecimal" />
			<xsd:attribute name="inclination" type="halfAngle" />
			<xsd:attribute name="inclinationError" type="halfAngle" />
			<xsd:attribute name="inclinationUnit" type="degree" />
			<xsd:attribute name="ascendingNode" type="fullAngle" />
			<xsd:attribute name="ascendingNodeError" type="fullAngle" />
			<xsd:attribute name="ascendingNodeUnit" type="degree" />
			<xsd:attribute name="argumentOfPerihel" type="fullAngle" />
			<xsd:attribute name="argumentOfPerihelError" type="fullAngle" />
			<xsd:attribute name="argumentOfPerihelUnit" type="degree" />
			<xsd:attribute name="orbitalPeriod" type="positiveDecimal" />
			<xsd:attribute name="orbitalPeriodError" type="positiveDecimal" />
			<xsd:attribute name="orbitalPeriodUnit" type="periodType" />
			<xsd:attribute name="meanOrbitalVelocity" type="positiveDecimal" />
			<xsd:attribute name="meanOrbitalVelocityError" type="positiveDecimal" />
			<xsd:attribute name="meanOrbitalVelocityUnit" type="velocityType" />
			<xsd:attribute name="meanDiameter" type="positiveDecimal" />
			<xsd:attribute name="meanDiameterError" type="positiveDecimal" />
			<xsd:attribute name="diameterX" type="positiveDecimal" />
			<xsd:attribute name="diameterY" type="positiveDecimal" />
			<xsd:attribute name="diameterZ" type="positiveDecimal" />
			<xsd:attribute name="diameterUnit" type="diameterType" />
			<xsd:attribute name="diameterRatio" type="positiveDecimal" />
			<xsd:attribute name="axialRatioXY" type="positiveDecimal" />
			<xsd:attribute name="axialRatioXZ" type="positiveDecimal" />
			<xsd:attribute name="axialRatioYZ" type="positiveDecimal" />
			<xsd:attribute name="ratioSeparationPrimaryRadius" type="positiveDecimal" />
			<xsd:attribute name="ratioSeparationHillRadius" type="positiveDecimal" />
			<xsd:attribute name="mass" type="positiveDecimal" />
			<xsd:attribute name="massError" type="positiveDecimal" />
			<xsd:attribute name="massUnit" type="massType" />
			<xsd:attribute name="massRatio" type="positiveDecimal" />
			<xsd:attribute name="volume" type="positiveDecimal" />
			<xsd:attribute name="volumeError" type="positiveDecimal" />
			<xsd:attribute name="volumeUnit" type="volumeType" />
			<xsd:attribute name="density" type="positiveDecimal" />
			<xsd:attribute name="densityError" type="positiveDecimal" />
			<xsd:attribute name="densityUnit" type="densityType" />
			<xsd:attribute name="densityRatio" type="xsd:decimal" />
			<xsd:attribute name="surfaceGravity" type="positiveDecimal" />
			<xsd:attribute name="surfaceGravityError" type="positiveDecimal" />
			<xsd:attribute name="surfaceGravityUnit" type="surfaceGravityType" />
			<xsd:attribute name="escapeVelocity" type="positiveDecimal" />
			<xsd:attribute name="escapeVelocityError" type="positiveDecimal" />
			<xsd:attribute name="escapeVelocityUnit" type="velocityType" />
			<xsd:attribute name="rotationPeriod" type="positiveDecimal" />
			<xsd:attribute name="rotationPeriodError" type="positiveDecimal" />
			<xsd:attribute name="rotationPeriodUnit" type="periodType" />
			<xsd:attribute name="componentMagnitudeDifference" type="positiveDecimal" />
			<xsd:attribute name="albedo" type="albedoType" />
			<xsd:attribute name="albedoError" type="positiveDecimal" />
			<xsd:attribute name="surfaceTemperature" type="positiveDecimal" />
			<xsd:attribute name="surfaceTemperatureError" type="positiveDecimal" />
			<xsd:attribute name="surfaceTemperatureUnit" type="surfaceTemperatureType" />
			<xsd:attribute name="discoverer" type="stringLine" />
			<xsd:attribute name="discoveryDate" type="dateType" />
			<xsd:attribute name="publishingDate" type="dateType" />
			<xsd:attributeGroup ref="optionalAttributes" />
		</xsd:sequence>
	</xsd:complexType>
	<!--Declare the 'comment' tag-->
	<xsd:complexType name="comment">
		<xsd:sequence>
			<xsd:attribute ref="xml:id" use="required" />
			<xsd:attribute ref="xml:lang" />
			<xsd:attribute name="content" type="stringLine" />
			<xsd:attribute name="lastModified" type="dateType" />
		</xsd:sequence>
	</xsd:complexType>
	<!--Declare the 'reference' tag-->
	<xsd:complexType name="reference">
		<xsd:sequence>
			<xsd:attribute ref="xml:id" use="required" />
			<xsd:attribute name="title" type="xsd:stringLine" />
			<xsd:attribute name="language" type="xsd:language" />
			<xsd:attribute name="authors" type="xsd:stringLine" />
			<xsd:attribute name="description" type="xsd:string" />
			<xsd:attribute name="url" type="xsd:anyURI" />
			<xsd:attribute name="comments" type="xsd:IDREFS" />
			<xsd:attribute name="lastModified" type="dateType" />
		</xsd:sequence>
	</xsd:complexType>
	<!--Declare the 'centralObjectType' type-->
	<xsd:simpleType name="centralObjectType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="planet" />
			<xsd:enumeration value="dwarfplanet" />
			<xsd:enumeration value="asteroid" />
		</xsd:restriction>
	</xsd:simpleType>
	<!--Declare the 'distanceType' type-->
	<xsd:simpleType name="distanceType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="km" />
			<xsd:enumeration value="AU" />
		</xsd:restriction>
	</xsd:simpleType>
	<!--Declare the 'positiveDecimal' type-->
	<xsd:simpleType name="positiveDecimal">
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="0" />
		</xsd:restriction>
	</xsd:simpleType>
	<!--Declare the 'halfAngle' type-->
	<xsd:simpleType name="halfAngle">
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="0" />
			<xsd:maxInclusive value="180" />
		</xsd:restriction>
	</xsd:simpleType>
	<!--Declare the 'halfAngle' type-->
	<xsd:simpleType name="fullAngle">
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="0" />
			<xsd:maxInclusive value="360" />
		</xsd:restriction>
	</xsd:simpleType>
	<!--Declare the 'degree' type-->
	<xsd:simpleType name="degree">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="deg" />
		</xsd:restriction>
	</xsd:simpleType>
	<!--Declare the 'periodType' type-->
	<xsd:simpleType name="periodType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="hours" />
			<xsd:enumeration value="days" />
			<xsd:enumeration value="years" />
		</xsd:restriction>
	</xsd:simpleType>
	<!--Declare the 'diameterType' type-->
	<xsd:simpleType name="diameterType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="m" />
			<xsd:enumeration value="km" />
		</xsd:restriction>
	</xsd:simpleType>
	<!--Declare the 'massType' type-->
	<xsd:simpleType name="massType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="kg" />
			<xsd:enumeration value="tons" />
			<xsd:enumeration value="earth mass" />
			<xsd:enumeration value="jupiter mass" />
		</xsd:restriction>
	</xsd:simpleType>
	<!--Declare the 'volumeType' type-->
	<xsd:simpleType name="volumeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="m^3" />
			<xsd:enumeration value="km^3" />
			<xsd:enumeration value="earth volume" />
			<xsd:enumeration value="jupiter volume" />
		</xsd:restriction>
	</xsd:simpleType>
	<!--Declare the 'densityType' type-->
	<xsd:simpleType name="densityType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="g/cm^3" />
		</xsd:restriction>
	</xsd:simpleType>
	<!--Declare the 'surfaceGravityType' type-->
	<xsd:simpleType name="surfaceGravityType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="m/s^2" />
		</xsd:restriction>
	</xsd:simpleType>
	<!--Declare the 'velocityType' type-->
	<xsd:simpleType name="velocityType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="m/s" />
			<xsd:enumeration value="km/s" />
			<xsd:enumeration value="km/h" />
		</xsd:restriction>
	</xsd:simpleType>
	<!--Declare the 'albedoType' type-->
	<xsd:simpleType name="albedoType">
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="0" />
			<xsd:maxInclusive value="1" />
		</xsd:restriction>
	</xsd:simpleType>
	<!--Declare the 'surfaceTemperatureType' type-->
	<xsd:simpleType name="surfaceTemperatureType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="K" />
		</xsd:restriction>
	</xsd:simpleType>
	<!--Declare the 'dateType' type-->
	<xsd:simpleType name="dateType">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:dateTime" />
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:date" />
			</xsd:simpleType>
			<xsd:simpleType>
				<rxsd:estriction base="xsd:gYearMonth" />
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:estriction base="xsd:gYear" />
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<!--Declare the 'stringLine' type-->
	<xsd:simpleType name="stringLine">
		<xsd:restriction base="xsd:normalizedString">
			<xs:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simplerype>
	<!--Declare the optional attributes-->
	<xsd:attributeGroup name="optionalAttributes">
		<xsd:all>
			<xsd:attribute name="comments" type="xsd:IDREFS" />
			<xsd:attribute name="references" type="xsd:IDREFS" />
			<xsd:attribute name="lastModified" type="dateType" />
		</xsd:all>
	</xsd:attributeGroup>
</xsd:schema>